<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>diabetes Consultation</title>
    <link rel="stylesheet" href="{% static 'model-ai/css2/all.css'%}">
    <link rel="stylesheet" href="{% static 'model-ai/css2/style1.css'%}">
    <link rel="stylesheet" href="{% static 'model-ai/css2/Style.css'%}"> 
    <link rel="stylesheet" href="{% static 'model-ai/css2/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'model-ai/css2/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'Home/CSS/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'model-ai/css2/consaltation.css'%}">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;900&family=Josefin+Sans:wght@300&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,400;0,600;0,800;1,200;1,300;1,400;1,500&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;900&family=Josefin+Sans:wght@300&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,400;0,600;0,800;1,200;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../fontawesome-free-6.2.0-web/css/all.css">
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.2.1-web/css/all.css'%}">
    <style>
        .span{
            border-left: 1px solid #00507C;
            border-right: 1px solid #00507C;
            padding: 0px 5px;
            position: relative;
            right: 200%;
            font-size: 16px;
            font-weight: 420;
        }
        .span1{
            border-left: 1px solid #00507C;
            border-right: 1px solid #00507C;
            padding: 0px 5px;
            position: absolute;
            left: 100%;
            font-size: 16px;
            font-weight: 420;
            transform: translateY(-40px);
        }
    </style>
</head>

<body>
    <header class="container">
        <div class="logo_cont">
            
               <div class="logo">
                 <img src="{%static 'model-ai/images/logo.png' %}" alt="">
                </div>
            <div class="logoh1">
                <h1><a href="{%url 'Home'%}"> Med</a><span><a href="{%url 'Home'%}">care</a></span></h1>
            </div>
        </div>
       
            
            
            <ul>
                <div class="headlinkss">
                    <ul>
                <li><a href="{%url 'Home'%}">Home</a></li>
                <li><a href="{%url 'cards'%}">Specialities</a></li>
                <li>    
                </div> 
                    <div class="dropdown"> 
                <a href="{% url 'AI:main'%}">
                    <p class="dropbtn activatedd">Consultation</p>
                </a>
                <div class="dropdown-content headlinks">
                    <a href="{% url 'AI:heart'%}">Heart Consultation</a>
                    <a href="{% url 'AI:diabetes'%}">Diabetes Consultation</a>
                </div>
            </div>
            </li>
            </ul>
            <div class="headlinkss">
                <ul>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Hospital</a></li>
                </ul>
            </div>

            {% if user.is_authenticated %}
            <div class="btns-head">
                {% if doctor %}
                <div class="btn-signin btn">
                    <a href="{%url 'reception'%}" style="color: #0d6efd;"><i class="fa-solid fa-user"></i></a>
                </div>
                {%else%}
                {%endif%}
                <div class="btn-signup btn">
                    <a href="{%url 'logout' %}"> <input type="button" class="btn-signup btn" value="logout"></a>
                </div>
            </div>
            {%else%}
            <div class="btns-head">
                <div class="btn-signin btn">
                    <a href="{% url 'login'%}"> <input type="button" class="btn-signup btn" value="Sign-in"></a>
                </div>
                <div class="btn-signup btn">
                    <a href="{%url 'signup' %}"> <input type="button" class="btn-signup btn" value="Sign-up"></a>
                </div>
            </div>
            {%endif%}
    </header>
    <div class="container">
        <div class="cont1">
            <div class="form1">
                <form method="POST" class="diabetes">
                    {% csrf_token %}
                    <input type="number" required  name="age2" class="in1" step="0.001" id="age">
                    <span class="span">age</span>
                    <input type="number" required name="Pregnancies" class="in2" step="0.001" id="Pregnancies">
                    <span class="span1">Pregnancies</span>
                    <br>
                    <input type="number" required  name="Glucose" class="in1" step="0.001" id="Glucose">
                    <span class="span">Glucose</span>
                    <input type="number" required  name="BloodPressur" class="in2" step="0.001" id="BloodPressur">
                    <span class="span1">BloodPressur</span>
                    <br>
                    <input type="number" required  name="SkinThickness" class="in1" step="0.001" id="SkinThickness">
                    <span class="span">SkinThickness</span>
                    <input type="number" required  name="Insulin" class="in2" step="0.001" id="Insulin">
                    <span class="span1">Insulin</span>
                    <br>
                    <input type="number" required  name="BMI" class="in1" step="0.001" id="BMI">
                    <span class="span">BMI</span>
                    <input type="number" required  name="DPFunction" class="in2" step="0.001" id="DPFunction">
                    <span class="span1">DPFunction</span> <br>
                    <input type="submit" value="consult" class="btnn"><br><br><br><br>
                    <h2>{{r3}}</h2>
                </form>
               
            </div>
    

        </div>
        
    </div>
<script>
    age = document.getElementById('age')
    Pregnancies = document.getElementById("Pregnancies")
    BloodPressur = document.getElementById("BloodPressur")
    SkinThickness = document.getElementById("SkinThickness")
    Glucose = document.getElementById("Glucose")
    Insulin = document.getElementById("Insulin")
    BMI = document.getElementById("BMI")
    DPFunction = document.getElementById('DPFunction')
    form = document.getElementById("diabetes")
       
    let handleSubmit = async(e) => {
        e.preventDefault()
    }    
    checkData = function(){
        if((age.value > 1 || age.value < 100) && (Pregnancies.value ==0 || Pregnancies.value <15)
                && (Insulin.value > 50 || Insulin.value<1000)
                &&(BloodPressur.value > 50 || BloodPressur.value<1000) 
                && (Glucose.value > 20 || Glucose.value < 1000) 
                &&( BMI.value< 15 || BMI.value < 100 )&& DPFunction.value < 1){
            form.onsubmit()=function(){
                return true
            }
        }else{
            alert('please check your input')
            form.addEventListener('submit' , handleSubmit)
        }
    }
</script>
</body>

</html>